:root {
    --bg: #CFCFEA;
    --aqua: #00FFC3;
    --main: #ff3f00;
}

html {
    box-sizing: border-box;
    font-family: 'Futura';
    background-color: var(--bg);
    line-height: 1.5;
}
*, *:before, *:after {
    box-sizing: inherit;
}

main {
    display: grid;
    place-items: center;
}

.card {
    background-color: #141414;
    width: 30rem;
    height: 40rem;
    margin: 4rem 0 0 0;
    border-radius: 2rem;
    border: solid 2px #B32D00;
    -webkit-box-shadow: 0px 10px 19px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 19px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 19px 5px rgba(0,0,0,0.75);
}

.header {
    background-color: #B32D00;
    width: 100%;
    height: 10rem;
    position: relative;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom: solid 1px #B32D00;
}

.card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    margin-top: 3rem;
    margin-left: 3rem;
}

.info {
    font-size: 1rem;
    color: white;
}

.header img {
    position: absolute;
    top: 3rem;
    left: 9.1rem;
}

.title {
    font-size: 1.7rem;
    margin-top: 6rem;
    margin-left: 5.5rem;
    color: var(--main);
    margin-bottom: 0.1rem;
}

img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: solid 2px #B32D00;
}

.info-title {
    margin-bottom: 0.5rem;
}

.card-footer {
    color: white;
    margin-left: 7rem;
    margin-top: 3rem;
    font-size: small;
}

a {
    text-decoration: none;
    color: #ff3f00;
}